@import "./components/media-queries";

/*
    1. Position: fixed, relative, absolute
    2. Box Model: margin, padding, width
    3. Fonts: fuentes, tamaños, colores
    4. Visuals: shadow box, border radius
    5. Others
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family:'Roboto', sans-serif;    
}

/*
  Reset button styles
  It takes a little bit of work to achieve a “blank slate” look.
*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /*
    Show a hand cursor on hover instead of the default arrow cursor
    (Some argue that we should keep the default arrow cursor for buttons, to be consistent with how desktop operating systems treat buttons.)
  */
  cursor: pointer;
}

main {
    width:100%;
    min-height:100vh;
    background:url(../assets/bg_game.jpg);
    background-size:cover;
    background-position: center center;
    display:grid;
    position:relative;
    
    
    section{
        width:90%;
        margin:auto;
        padding:50px;
        background-color:white;
        border-radius:32px;
        min-height:90vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;


        h1 {
            font-size:5.5rem;
            color:#e14759;
            text-transform: uppercase;
            text-align:center;

            span:before{
                content:"Rock";
                animation: animate infinite 5s;
            }

            @keyframes animate {
  
                0% {
                    content: "Rock";
                }
      
                20% {
                    content: "Scissors";
                }
      
                40% {
                    content: "Paper";
                }
      
                60% {
                    content: "Lizard";
                }

                80% {
                    content: "Spock";
                }
            }
        }
        
        .scoreboard-container {
            width:100%;
            margin: 20px auto;
            @include media('>=tablet') {
                width:70%;
                max-width:80%;

             }

            .scoreboard-title{
                height:50px;
                background: linear-gradient(60deg, #081d27, #1d2d47);
                display:flex;
                justify-content:center;
                align-items:center;
                border-radius:16px 16px 0 0;

                h2{
                    font-size:3rem;
                    line-height:3.6rem;
                    letter-spacing:5px;
                    color:#fff;
                    text-align:center;
                    text-transform:uppercase;
                }
            }

            .button-container{
                display:flex;
                margin:20px auto;
                justify-content:center;

                button {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    font-weight:500;
                    letter-spacing:1px;
                    background: #e14759;
                    color: white;
                    width: 100px;
                    padding: 10px;
                    border-radius: 8px;    
                    box-shadow: 0 1px 3px 0 #00000070;
                    @include media('>=tablet') { 
                        font-size:1.6rem;
                    }

                    &:hover{
                        transform:scale(1.1);   
                    }
                    }
                }
        }

            .scoreboard-results{
                width:100%;
                display:inline-flex;

                .badge{
                    width:50%;
                    text-align:center;
                    color:#fff;
                    font-weight:bold;
                    padding:10px;
                    

                    span{
                        font-size:4.5rem;
                    }

                    p{
                        font-size:1.8rem;
                        letter-spacing:2.5px;
                        text-transform: uppercase;
                        margin-top:10px;
                    }
                }

                .scoreboard-user{
                    background-color:#53b7c7;
                    border-radius:0 0 0 16px;
                }

                .scoreboard-cpu{
                    background-color:#cd7a2e;
                    border-radius:0 0 16px 0;
                }


            }
 
        }

        .result-popup, .instructions-popup{
            visibility: hidden;
            width:100%;
            height:100%;
            background-color: #081d27d3;
            position:absolute;
            z-index:5;
            top:0;
            left:0;
            display:grid;
            place-items:center;

            .result-popup-container, .instructions-popup-container{
                width:80%;
                height:auto;
                max-height:80vh;
                background-color:#fff;
                border-radius:16px;
                display:flex;
                align-items:center;
                flex-direction:column;
                padding: 30px 0;
                position:relative;
                @include media('>=tablet'){
                    width:50%;
                }

                .close-icon {
                    position:absolute;
                    width: 20px;
                    right: 20px;
                    top: 20px;
                    right:20px;

                    &:hover{
                        cursor:pointer;
                    }

                }

                .result-image{
                    width:250px;
                    height:auto;
                    margin-bottom:20px;
                }

                h2.result-display {
                    color:#53b7c7;
                    text-transform:uppercase;
                    letter-spacing:1px;
                    font-size:1.6rem;
                }

                .result-choices{
                    display:flex;
                    width: 60%;
                    margin: 20px auto;
                    justify-content: space-between;
                    align-items: flex-end;
                    text-align:center;

                    img{
                        width:80px;
                        height:auto;
                        margin-bottom:10px;
                    }

                    h3, h4{
                        text-transform:uppercase;
                        letter-spacing:1px;
                    }

                    h3{
                        font-size:3.2rem;
                        align-self:center;
                    }

                    h4{
                        font-size:1.5rem;
                    }

                    .player{
                        font-style: italic;
                        font-size:1.1rem;
                        color:lightgray;
                    }

                    &-user img{
                        filter: hue-rotate(145deg);
                    }

                    &-cpu img {
                        filter: hue-rotate(290deg);
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1)
                    }
                }


            }


        }

        .user-choice--container{
            width: 90%;
            margin: 0 auto;
            display:flex;
            flex-direction:column;
            align-items:center;
            @include media('>=tablet'){
                width:100%;
            }

            h3{
                font-size:2rem;
                color:#757575;
                text-transform:uppercase;
                letter-spacing:1.5px;
                text-align:center;
            }
        
            .user-choice-buttons {
                display:flex;
                flex-direction:row;
                width: 100%;
                justify-content: space-around;
                margin-top:30px;
                flex-wrap:wrap;
                
                > .button {
        
                    text-transform: uppercase;
                    font-weight:700;
                    letter-spacing:1.5px;
                    font-size:1.8rem;
                    text-align:center;
                    width:150px;
                    margin:10px auto;
                    cursor:pointer;
                    @include media('>=tablet'){
                        width:200px;
                    }

                    &:hover > *{
                        filter: hue-rotate(145deg) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
                        transform: scale(1.15);
                    }

            
                    img {
                        width:120px;
                        height:120px;
                        margin-bottom:10px;
                        filter:grayscale(1);

                        @include media('>=tablet'){
                            width:150px;
                            height:150px;
                        }
                    }
                }
            }
        }

    .help{ 
        width:40px;
        height:40px;
        border-radius:50%;
        background:#e14759;
        color:#fff;
        text-align:center;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:2.5rem;
        font-weight:bold;
        position:absolute;
        bottom:25px;
        right:25px;
        cursor:pointer;

    }
}


